<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Open+Sans" />
    <link type="text/css" rel="stylesheet" href="style.css" media="screen" />
    <link rel="icon" type="img/png" href="assets/images/favicon.png">
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <title>PlayStation WebProject | Home</title>
  </head>

  <body>
    <%- partial("includes/_header.ejs") %>
    <%- partial("includes/_nav.ejs", { id: "Home" }) %>
    <%- partial("includes/_maincontent.ejs") %>
    <%- partial("includes/_footernav.ejs") %>
    <%- partial("includes/_footer.ejs") %>
  </body>
</html>